/*********************
 * SASS/SCSS Globals
 *********************/
/**********************
* font stacks
**********************/
@import url("//fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,700");
@import url("//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,400italic");
@import url("//fonts.googleapis.com/css?family=Source+Code+Pro:300,400,700");
/**********************
 * main color palette
 **********************/
/* Overrides of notebook CSS for static HTML export */
div.entry-content {
  overflow: visible;
  padding: 8px; }

.input_area {
  padding: 0.2em; }

a.heading-anchor {
  white-space: normal; }

.rendered_html
code {
  font-size: .8em; }

pre.ipynb {
  color: black;
  background: #f7f7f7;
  border: none;
  box-shadow: none;
  margin-bottom: 0;
  padding: 0;
  margin: 0px;
  font-size: 13px; }

/* remove the prompt div from text cells */
div.text_cell .prompt {
  display: none; }

/* remove horizontal padding from text cells, */
/* so it aligns with outer body text */
div.text_cell_render {
  padding: 0.5em 0em; }

img.anim_icon {
  padding: 0;
  border: 0;
  vertical-align: middle;
  -webkit-box-shadow: none;
  -box-shadow: none; }

div.collapseheader {
  width: 100%;
  background-color: #d3d3d3;
  padding: 2px;
  cursor: pointer;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; }

/* Override pygemnts that don't play nicely with IPython Notebooks */
.MathJax_Display {
  color: #1d1d1d; }
  .MathJax_Display .mi, .MathJax_Display .mo {
    color: #1d1d1d; }
