<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
<head>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:site_name" content="{{ SITENAME }}" />
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="{{ SITENAME }}"/>
    <meta property="og:url" content="{{ SITEURL }}"/>
    <meta property="og:description" content="{{ SITENAME }}"/>

    {% block head %}
    <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
    <meta charset="utf-8" />
    {% if FEED_ALL_ATOM %}
    <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Full Atom Feed" />
    {% endif %}
    {% if FEED_ALL_RSS %}
    <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Full RSS Feed" />
    {% endif %}
    {% if FEED_ATOM %}
    <link href="{{ FEED_DOMAIN }}/{{ FEED_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed" />
    {% endif %}
    {% if FEED_RSS %}
    <link href="{{ FEED_DOMAIN }}/{{ FEED_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
    {% endif %}
    {% if CATEGORY_FEED_ATOM and category %}
    <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_ATOM|format(category.slug) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Categories Atom Feed" />
    {% endif %}
    {% if CATEGORY_FEED_RSS and category %}
    <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_RSS|format(category.slug) }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Categories RSS Feed" />
    {% endif %}
    {% if TAG_FEED_ATOM and tag %}
    <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_ATOM|format(tag.slug) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Tags Atom Feed" />
    {% endif %}
    {% if TAG_FEED_RSS and tag %}
    <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_RSS|format(tag.slug) }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Tags RSS Feed" />
    {% endif %}
    {% endblock head %}

    <!-- Pygments support -->
    <link href="{{ SITEURL }}/theme/css/pygments/{{ PYGMENTS_STYLE|default('native') }}.css" rel="stylesheet">

    <!-- Purecss.io -->
    <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/pure-min.css" />
    <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/pure-grids-responsive-min.css" />

    <!-- responsive menu script -->
    <script src="{{ SITEURL }}/theme/js/menu.js" type="text/javascript" charset="utf-8" async defer></script>

    <!-- IPython Notebook support -->
    <script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML" type="text/javascript"></script>
    <script src="{{ SITEURL }}/theme/js/ipynb.js" type="text/javascript" charset="utf-8" async defer></script>

    <!-- Font Awesome -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

    <!-- Actual theme style -->
    <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/pygments.css" />
    <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/ipynb.css" />
    <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/base.css" />
    <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/layout.css" />
    <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/module.css" />
    <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/state.css" />


    <!-- Pelican-dynmic support -->
    {% if 'pelican_dynamic' in PLUGINS %}
        {% if article %}
            {% if article.styles %}
                {% for style in article.styles %}
        {{ style }}
                {% endfor %}
            {% endif %}
        {% endif %}
        {% if page %}
            {% if page.styles %}
                {% for style in page.styles %}
        {{ style }}
                {% endfor %}
            {% endif %}
        {% endif %}
    {% endif %}


</head>





<body id="index" class="home">

    {% include "header.html" %}

    <div class="pure-g master-content">

        <div class="left-gutter pure-u-1 pure-u-sm-1-24 pure-u-md-1-12 pure-u-lg-1-8 pure-u-xl-1-6"></div>

        <div class="container pure-u-1 pure-u-sm-11-12 pure-u-md-5-6 pure-u-lg-3-4 pure-u-xl-2-3" id="content-container">

            <div class="content-wrapper">

                {% block content %}
                {% endblock %}
            </div><!-- end .content-wrapper -->

        </div><!-- End #content-container -->

        <div class="right-gutter pure-u-1 pure-u-sm-1-24 pure-u-md-1-12 pure-u-lg-1-8 pure-u-xl-1-6"></div>

    </div> <!-- end .master-content -->

    {% include "footer.html" %}

</body>

<!-- Pelican-dynamic support -->
{% if 'pelican_dynamic' in PLUGINS %}
    {% if article %}
        {% if article.scripts %}
            {% for script in article.scripts %}
    {{ script }}
            {% endfor %}
        {% endif %}
    {% endif %}
    {% if page %}
        {% if page.scripts %}
            {% for script in page.scripts %}
    {{ script }}
            {% endfor %}
        {% endif %}
    {% endif %}
{% endif %}

</html>
