<!-- Footer module -->
<div class="pure-g master-footer">

    <div class="left-gutter pure-u-1 pure-u-sm-1-24 pure-u-md-1-12 pure-u-lg-1-8 pure-u-xl-1-6"></div>

    <div class="container pure-u-1 pure-u-sm-11-12 pure-u-md-5-6 pure-u-lg-3-4 pure-u-xl-2-3"
         id="footer-container">

        <div class="pure-g">

            {% if ABOUT_TEXT is defined or ABOUT_IMAGE is defined or ABOUT_LINK is defined %}
                <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
                    <section id="about">
                        <header>
                            <h2>Me</h2>
                        </header>
                        {% if ABOUT_LINK is defined %}
                            <a href="{{ ABOUT_LINK }}"><img class="pure-img" src="{{ SITEURL }}/{{ ABOUT_IMAGE | thumbnail("400x_") }}"/></a>

                        {% else %}
                            <img class="pure-img" src="{{ SITEURL }}/{{ ABOUT_IMAGE | thumbnail("400x_") }}"/>
                        {% endif %}
                        <p>
                        {{ ABOUT_TEXT }}
                        </p>
                        <footer>
                            {% if ABOUT_LINK is defined %}
                                <a href="{{ ABOUT_LINK }}" class="button">Find out more</a>
                            {% endif %}
                        </footer>
                    </section>
                </div>
            {% endif %}

            <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
                <section id="contact">
                    <header>
                        <h2>Contact</h2>
                    </header>
                    <ul class="social fa-ul">
                        {% if GITHUB_USER %}
                            <li><i class="fa-li fa fa-github"></i><a href="https://github.com/{{ GITHUB_USER }}">Github</a></li>
                        {% endif %}
                        {% if FACEBOOK_USER %}
                            <li><i class="fa-li fa fa-facebook"></i><a href="https://www.facebook.com/{{ FACEBOOK_USER }}">Facebook</a></li>
                        {% endif %}
                        {% if TWITTER_USER is defined %}
                            <li><i class="fa-li fa fa-twitter"></i><a href="http://twitter.com/{{ TWITTER_USER }}">Twitter</a></li>
                        {% endif %}
                        {% if LINKEDIN_USER %}
                            <li><i class="fa-li fa fa-linkedin"></i><a href="http://www.linkedin.com/pub/{{ LINKEDIN_USER }}">LinkedIn</a></li>
                        {% endif %}
                        {% if GOOGLEPLUS_USER %}
                            <li><i class="fa-li fa fa-google-plus"></i><a href="https://plus.google.com/{{ GOOGLEPLUS_USER }}">Google+</a></li>
                        {% endif %}
                    </ul>
                    {% if ADDRESS is defined or MAIL is defined or PHONE is defined %}
                    <ul class="contact fa-ul">
                        {% if ADDRESS is defined %}
                        <li><i class="fa-li fa fa-home"></i>
                            <p>
                                {{ ADDRESS }}
                            </p>
                        </li>
                        {% endif %}
                        {% if MAIL is defined %}
                            <li><i class="fa-li fa fa-envelope"></i>
                                <p><a href="mailto:{{ MAIL }}">{{ MAIL }}</a></p>
                            </li>
                        {% endif %}
                        {% if PHONE %}
                            <li><i class="fa-li fa fa-phone"></i>
                                <p>{{ PHONE }}</p>
                            </li>
                        {% endif %}
                    </ul>
                    {% endif %}
                </section>
            </div>

            <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
                <section id="links">
                    <header>
                        <h2>Links</h2>
                    </header>
                    <ul class="divided fa-ul">
                        {% for name, link in LINKS %}
                            <li><i class="fa-li fa fa-link"></i><a href="{{ link }}">{{ name }}</a></li>
                        {% endfor %}
                    </ul>
                </section>
            </div>



            <div class="pure-u-1">

                <footer id="contentinfo" class="body">
                    <address id="about" class="vcard body">
                    Created with <a href="http://getpelican.com/" title="Pelican, a Static Website Generator written in Python">Pelican</a>, <a href="http://purecss.io/" title="Pure.css, CSS framework for responsive websites">Pure</a> and <a href="http://sass-lang.com/" title="Sass, language for CSS generation">Sass</a>.
                    </address><!-- /#about -->
                 </footer><!-- /#contentinfo -->

            </div>

        </div>

    </div>

    <div class="right-gutter pure-u-1 pure-u-sm-1-24 pure-u-md-1-12 pure-u-lg-1-8 pure-u-xl-1-6"></div>

</div>