/*
 * Following SMACSS guidelines
 *     https://smacss.com/
 */

@charset "UTF-8";

@import 'globals';


@include media("<=small") {

    article.hentry {
        margin: 0.5em 0;
    }


    /* REPONSIVE TABLE */

    /* Force table to not be like tables anymore */
    table, thead, tbody, th, td, tr {
        display: block;
    }

    table {
        /* Hide table headers (but not display: none;, for accessibility) */
        thead tr {
            position: absolute;
            visibility: hidden;
            height: 0;
        }

        tr {
            padding: 0.5em;
        }

        td {
            /* Behave  like a "row" */
            border: none;
            text-align: left;
            position: relative;
            margin: 0.5em 0;
            padding-left: 0;  // can be >0 to leave space for fake headers on the left

            &:before {
                content: attr(data-th)": "; // who knew you could do this? The internet, that's who.
                font-weight: bold;
            }

        }

    }


}


@include media("<=medium") {  // keep this in sync with `menu.js` (check var mq)

    .menu-toggle {
        display: block;
    }

    #main-menu {
        margin-bottom: 1em;
    }

    #main-menu-ul {
        display: auto;
        table-layout: auto;

        li {
            display: block;
        }

        a {
            display: block;
        }

    }

}

